@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

* {
    margin: 0;
    padding: 0;
}

.redL {
    background-color: #ff1a19;
}

.yellowD {
    background-color: #fffb1d;
}

.blueW {
    background-color: #0008ff;
}

header > h1 {
    font-family:'Mountains of Christmas' , sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    padding: 5px;
    word-spacing: 10px;
    letter-spacing: 1px ;
}
body {
    background: url("giphy.gif") no-repeat;
    background-size: cover  ;
    color: black;
    font-family:'Mountains of Christmas' , sans-serif;
}
.playersCol {
    border: 3px solid #000;
    width:250px;
    margin: 40px auto;
    font-size: 80px;
    text-align: center;
    padding: 5px 20px;
    position: relative;
    border-radius: 25px;
}

.badge{
    background: #ff2c35;
    font-size: 20px;
    padding: 15px 10px;
    font-weight: bold;
}
span {
    font-size: 80px;
}

#user-lab {
    position: absolute;
    left: -5%;
    margin: 28px -15px;
    border-radius: 5px;

}

#bot-lab {
    position: absolute;
    right: -5%;
    margin: 28px -15px;
    border-radius: 5px;

}

.result {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin: 15px;

}

.choice {
    text-align: center;
}

.choice img {
    cursor: pointer;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 50%;
    padding: 2px;
    margin: 20px 10px;
}

#actionM {
    text-align: center;
    font-weight:600;
    font-size: 35px;

}

#res {
    display: inline-block;
    padding: 5px;
    position: relative;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;

}

#hc :hover {
    background-color: blue;
}
